* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #e7e6e6;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.wrapper {
  background-color: transparent;
  margin: auto;
  margin-top: 50px;
  width: 50%;
  border: 3px;
  border-radius: 10%;
  padding: 10px;
}

.money_input {
  margin: auto;
  margin-top: 30px;
  width: 50%;
  border: 3px solid grey;
  padding: 10px;
}

.boton {
  margin-top: 15px;
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
}

input {
  display: flex;
  margin: 0.4rem;
  box-sizing: border-box;
}

label {
  display: flex;
}

#resultado {
  text-align: center;
}
